*{
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Chivo Mono', monospace;
}
.carousel-item img{
    width: 100%;
    height: 80vh;

}
.card-body img{
    min-width: 50%;
    max-height: 200px;
}